html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: sans-serif;
}

body {
  display: flex;
  justify-content: center; /* 화면 가운데 정렬 */
  background-color: #f8f8f8; /* 배경색 예시 */
}
